<h1>Edit Task For <%= @goal.title %></h1>

<br>

<%= form_with model: [@goal, @task], local: true do |f| %>
  <% if @goal.errors.any? %>
    <ul>
      <% @goal.errors.full_messages.each do |m| %>
        <li>
          <strong><%= m %></strong>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :deadline %>
    <%= f.date_field :deadline %>
  </p>

  <p>
    <%= f.label :status %>
    <%#= f.text_field :status %>
    <%= f.select :status, ['Started', 'Completed'] %>
  </p>

  <!-- <p>
    <%#= f.label :goal_id %>
    <%#= f.text_field :goal_id %>
  </p> -->

  <p>
    <%= f.submit 'Update Task' %>
  </p>

  <p>
    <%#= link_to 'Cancel', goal_tasks_path %>
    <%= link_to 'Cancel', goal_path(@goal) %>
  </p>
<% end %>