<section class="home-main">
  <div class="container">
    <% if current_user %>
      <h1>Welcome!</h1>
      <!--<p>Today's date is <%#= Date.today %></p>-->
      
      <br>
      <br>

      <%if @tasks.count == 0 %>
        <h3>
          No tasks are due today, <%= link_to 'View All Goals', goals_path %>
        </h3>

      <% else %>

        <% if @tasks_overdue.count > 0 %>
          <%# <p>Here are the task/s that are OVERDUE:</p> %>
          <h3 class="mb-3">You have OVERDUE TASKS:</h3>
          <ul>
            <% @tasks_overdue.each do |task| %>
              <% @goals.each do |goal| %>
                <% if goal.id == task.goal_id %>
                  <%= link_to goal_path(goal) do %>

                    <li class="alert alert-danger" role="alert">
                      <%= task.name %> - <%= goal.title %>, 
                      Due Date: <%= task.deadline.strftime('%F') %>
                    </li>


                    <!--<div class="alert alert-danger" role="alert">
                      A simple danger alert—check it out!
                    </div>-->

                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>

        <br>
        <br>

        <% if @tasks_due_today.count > 0 %>
          <%# <p>Here are the task/s that are due today:</p> %>
          <h3 class="mb-3">Tasks due TODAY:</h3>
          <ul>
            <% @tasks_due_today.each do |task| %>
              <% @goals.each do |goal| %>
                <% if goal.id == task.goal_id %>
                  <%= link_to goal_path(goal) do %>


                    <li class="alert alert-warning" role="alert">
                      <%= task.name %> - <%= goal.title %>
                    </li>

                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>

    <% else %>
    
      <div class="row">
        <div class="col-md-6 d-flex flex-column w-100 justify-content-center align-items-center">
          <h1 class="home-h1">Goalganizer</h1>

          <p class="display-4 mt-3 text-center">
            Simple organizer <br /> for your goals.
          </p>

          <div class="lead mt-3 mt-md-5">

            <span class="text-primary">
              <%= link_to 'Create an account', new_user_registration_path %>
            </span> 

            or

            <span class="text-primary">
              <%= link_to 'Log in here', new_user_session_path %>
            </span>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
          <div class="img-fluid mt-3 mt-md-0">
            <img src=<%= asset_path('checklist-animate.svg') %> alt="asdf">
          </div>
        </div>
      </div>

      
    <% end %>
  </div>
</section>