<section>
  <div>
    <h1>Edit Goal</h1>
    
    <div>
      <%= form_with scope: :goal, model: @goal, local: true do |f| %>
        <% if @goal.errors.any? %>
          <ul>
            <% @goal.errors.full_messages.each do |m| %>
              <li>
                <strong><%= m %></strong>
              </li>
            <% end %>
          </ul>
        <% end %>

        <%= f.text_field :title, placeholder: "Goal Name" %>

        <%= f.text_area :description, placeholder: "Goal Description", rows: 10 %>

        <div>
          <%= f.submit "Update" %>
          
          <%#= link_to "Cancel", goals_path %>
          <%= link_to "Cancel", goal_path %>
        </div>

      <% end %>
    </div>
  </div>
</section>
