<section>
  <div class="container">
    <h1>Add Goal</h1>
    
    <%= form_with scope: :goal, model: @goal, local: true do |f| %>
      <% if @goal.errors.any? %>
        <ul class="new-error-ul">
          <% @goal.errors.full_messages.each do |m| %>
            <li class="alert alert-warning alert-dismissible fade show" role="alert">

              <strong><%= m %></strong>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= f.text_field :title, placeholder: "Goal Title" %>

      <%= f.text_area :description, placeholder: "Goal Description", rows: 10 %>

      <div>
        <%= f.submit "Add" %>
        
        <%= link_to "Cancel", goals_path %>
      </div>

    <% end %>
  </div>
</section>
