<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h1 class="mb-4 text-center">Add Goal</h1>
        
        <%= form_with scope: :goal, model: @goal, local: true do |f| %>
          <% if @goal.errors.any? %>
            <ul class="new-error-ul">
              <% @goal.errors.full_messages.each do |m| %>
                <li class="alert alert-warning alert-dismissible fade show" role="alert">

                  <strong><%= m %></strong>

                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </li>
              <% end %>
            </ul>
          <% end %>

          <div class="form-group">
            <%= f.text_field :title, placeholder: "Goal Title", class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.text_area :description, placeholder: "Goal Description", class: "form-control", rows: 10 %>
          </div>

          <div class="mt-4">
            <%= f.submit "Add", class: "btn btn-primary" %>
            
            <%= link_to "Cancel", goals_path, class: "btn btn-secondary" %>
          </div>
        <% end %><!-- end form -->
      </div>
    </div>
  </div>
</section>
