<section class="py-4 md:py-8">
  <div class="container mx-auto px-4 md:px-8">
    <div class="flex justify-between items-center mb-8">
      <div>
        <h1 class="text-5xl font-bold"><%= @goal.title %></h1>
      
        <div>
          <%= link_to 'Edit Goal Details', edit_goal_path, class: "btn btn-success" %>
          |
          <%= link_to 'Delete Goal', goal_path(@goal), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>

      <%= link_to 'Add New Task', new_goal_task_path(@goal), class: "w-full sm:w-auto px-3 py-5 font-medium text-white text-center bg-blue-600 rounded-lg" %>
    </div>

    <div class="mb-8">
      <h2 class="text-3xl text-center mb-8">Started Tasks</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <% @goal.tasks.each do |task| %>
          <div class="p-4 border rounded-lg">
            <h3 class="text-2xl"><%= task.name %></h3>
            <p><%= task.deadline %></p>
            <br>
            <br>
            <hr>
            <br>
            <p>
              <%= link_to 'Edit Task', edit_goal_task_path(@goal, task.id) %>
              
            
            | Delete Task</p>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h2 class="text-3xl text-center mb-8">Completed Tasks</h2>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        
        <div class="p-4 border rounded-lg">
          <h3 class="text-2xl text-center">Show Completed Task Here</h3>
          <p>Task Details</p>
        </div>

        <%# <div class="p-4 border rounded-lg">
          <h3 class="text-2xl text-center">Task Name</h3>
          <p>Task Details</p>
        </div> %>
      </div>
    </div>

  </div>
</section>
