<section>
  
  
  <div>
    <h1><%= @goal.title %></h1>
  
    <div>
      <%= link_to 'Edit Goal Details', edit_goal_path %>
      |
      <%= link_to 'Delete Goal', goal_path(@goal), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>

  <%= link_to 'Add New Task', new_goal_task_path(@goal) %>
  


  
  <div>
  
  
  
    <%
      # If no tasks created, show no task and ask to add task 
      if @tasksLength == 0 
    %>
      NO TASK, ADD TASK
    <% else %>

      <%= @tasksCompleted.count %> of <span id="tasksLength"><%= @tasksLength %></span> Tasks Completed

      <% 
        # Display started tasks, hide if there is none
        if @tasksStarted.count > 0 
      %>
        <div>
          <h2>
            Started Tasks
          </h2>

          <div>
            <% @tasksStarted.each do |task| %>
              <div>
                <h3><%= task.name %></h3>
                <p>Due on <%= task.deadline.strftime('%F') %></p>
                
                <p>Status: <%= task.status %></p>
                
                <p>
                  <%= link_to 'Edit', edit_goal_task_path(@goal, task.id) %>
                  | 
                  <%= 
                    link_to 'Delete', 
                    goal_task_path(@goal, task.id), method: :delete, 
                    # data: { confirm: "Are you sure?" } 
                    data: {confirm: "Delete " + task.name + ", are you sure?"}
                  %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <%
        # Display completed tasks, hide if there is none 
        if @tasksCompleted.count > 0 
      %>
        <div>
          <h2>
            Completed Tasks
          </h2>
          
          <div>
            
            <% @tasksCompleted.each do |task| %>
              <div>
                <h3><%= task.name %></h3>
                <p>Due on <%= task.deadline.strftime('%F') %></p>
                
                <p>Status: <%= task.status %></p>
                
                <p>
                  <%= link_to 'Edit', edit_goal_task_path(@goal, task.id) %>
                  | 
                  <%= 
                    link_to 'Delete', 
                    goal_task_path(@goal, task.id), method: :delete, 
                    # data: { confirm: "Are you sure?" } 
                    data: {confirm: "Delete " + task.name + ", are you sure?"}
                  %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</section>
